:root {
    --primary-color: rgb(67, 74, 145);
}

*   {
    box-sizing: border-box;
    outline: 0;   
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.relogio{
    font-size: 3em;
    text-align: center;
}

.botoes{
    text-align: center;
}

.titulo{
    text-align: center;
    font-size: 2em;
}

.pausado{
   color:red; 
}